<html>
<head>
	<title>ACS Places</title>
	<link rel="stylesheet" href="<%= version %>/style.css" type="text/css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript">
    $(function(){
      if($("#flash").length > 0){
        setTimeout(function(){$("#flash").fadeOut()},1500);
      }
    });
  </script>
</head>
<body>
  <div id="ctr">
		<% if(user.session !== "") { %>
			<div id="user">User: <%= user.name %><br><!-- Session: <%= user.session %><br> --><%= (user.email) ? 'Email: '+user.email : 'Username: '+user.username %><a href="<%= version %>/logout" class="btn">Logout</a><a href="<%= version %>/show" class="btn">Back</a></div>
		<% }else{ %>
			<div id="user"><a href="<%= version %>/index" class="btn">login</a><a href="<%= version %>/show" class="btn">Back</a></div>
		<% } %>
	</div>
	<div id="ctnr">
    <% if(req.query && req.query.msg){ %>
      <div id="flash"><%= req.query.msg %></div>
    <% } %>
		<div class="form-ctnr">
			<form name="create" action="create" method="post">
				<div><label>name:</label><input type="text" name="name"></div>
				<div><label>address:</label><input type="text" name="address"></div>
				<div><label>city:</label><input type="text" name="city"></div>
				<div><label>state:</label><input type="text" name="state"></div>
				<div><label>postal code:</label><input type="text" name="postal_code"></div>
				<!-- <div><label>latitude:</label><input type="text" name="latitude"></div>
				<div><label>longitude:</label><input type="text" name="longitude"></div>
				<div><label>phone number:</label><input type="text" name="phone_number"></div> -->
				<input class="fr" type="submit" value="Submit"><a href="<%= version %>/show" class="cncl fr">Cancel</a>
				<div class="clr"></div>
			</form>
		</div>
	</div>
</body>
</html>